<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Tables</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <div th:include="adminCommon :: admincommonheader"></div>
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
  <!-- NAVBAR -->
  <div th:replace="adminCommon :: #navbar-yjp-header"></div>
  <!-- END NAVBAR -->
  <!-- LEFT SIDEBAR -->
  <div th:replace="adminCommon :: #sidebar-nav(activeUri = 'applyList.html')"></div>
  <!-- END LEFT SIDEBAR -->
  <!-- MAIN -->
  <div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
      <div class="container-fluid">
        <h3 class="page-title">Tables</h3>
        <div class="row">
          <div class="col-md-12">
            <!-- TABLE STRIPED -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title">申请审批资金</h3>
              </div>
              <div class="panel">
                <form th:action="@{/apply}" method="post">
                  <!--发送put请求修改员工数据-->
                  <!--1、springmvc中配置HiddenHttpMethodFilter
                      2、页面创建一个post表单
                      3、创建一个input项，name="_method";值就是我们指定的请求方式
                  -->
                  <div class="panel-body">
                    <br>
                    <input type="text" name="amoney" class="form-control" placeholder="申请额">
                    <br>
                    <input type="text" name="reason" class="form-control"  placeholder="申请用途">
                    <br>
                    <button type="submit" class="btn btn-primary" text="申请">申请</button>
                  </div>
                </form>
              </div>
            </div>
            <!-- END TABLE STRIPED -->
          </div>
        </div>
      </div>
    </div>
    <!-- END MAIN CONTENT -->
  </div>
  <!-- END MAIN -->
  <div class="clearfix"></div>
  <footer>
    <div class="container-fluid">
    </div>
  </footer>
</div>
<!-- END WRAPPER -->
<!-- Javascript -->
<div th:replace="adminCommon :: #commonscript"></div>
</body>

</html>
